body{
    font-family: Manrope,Inter,system-ui,sans-serif;
    background-color: #f1f8e791;
}

.navigation{
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
    width: fit-content;
}
.nav-link{
    margin: 0 35px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 2px;
    border-radius: 0px;
    font-weight: 300;
    font-size: 17px;
    border: 1px solid transparent;
   
    
}

.active{
    border-bottom: 2px solid #262626;
    font-weight: 400;
}
.title-header{
    text-align: center;
}
.title-header p{
    font-weight: 300;
}


.social-links{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.social-links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links li{
    float: left;
    margin-right: 15px;
    
}

.social-links a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.social-links .has-hover a:hover{
    font-weight: 600;
}

.slider {
    width: 72vh;
    margin:auto;
    overflow: hidden;
    background-color: #1f1f1f;
    color: white;
    box-shadow: 0px 4px 10px #3a3a3aa9;
    border-radius: 1.5px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 16s linear infinite;
    -webkit-animation: scroll 16s linear infinite;
    width: calc(150px * 11);
    animation-play-state: running;
}

.slider .slide {
    width: 200px;
    font-weight: 300;
}
.slider .slide-track:hover{
    animation-play-state: paused;
}
.slide a{
    text-decoration: none;
    color: white;

}
.slide .has-hover:hover{
    font-weight: 600;
    transition: ease-in-out 0.2s;
    
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-300px * 7));
        transform: translateX(calc(-200px * 4));
    }
}






/*______________________ Redim __________________________________ */
.redim-container{
    display: grid;
    grid-template: 
    'gridOne gridThree' 60px
    'gridTwo gridThree' 150px / 500px 
    ;
    grid-gap: 3px;
    background-color: black;
    padding: 4px;
}

.redim-container .grid-1{
    background-color: #dff3ff;
    grid-area: gridOne;
}
.redim-container .grid-1 h1{
    margin: 0;
    text-align: center;
}

.redim-container .grid-2{
    background-color: white;
    grid-area: gridTwo;
    padding: 5px;
}
.redim-container .grid-2 p{
    font-weight: 300;
}


.redim-container .grid-3{
    background-color: white;
    grid-area: gridThree; 
}
.redim-container .grid-3 .img-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87%;
}
.redim-container .grid-3 .link{
    background-color: black;
    padding: 3px;
    text-align: center;
}
.redim-container .grid-3 .link a{
    text-decoration: none;
    color: white;
    align-items: end;
}
.redim-container .grid-3 .link a:hover{
    text-decoration: underline;
}

/* ________________________________Zero Focus APP_________________________________*/
.zero-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 400px 90px;
    grid-gap: 3px;
    background-color: black;
    padding: 4px;
}
.zero-container .grid-1{
    background-color: #ffffe1;
   
}

.grid-1 .header{
    text-align: center;
    vertical-align: middle;
}
.grid-1 .header h1{
    position: relative;
    margin: 0;
    display: inline-block;
    top: -3px;
}
.grid-1 .header img{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.zero-container .grid-2{
    background-color: white;
    text-align: center;
}
.zero-container .grid-3{
    background-color: white;
    padding: 5px;
    text-align: center;
}
.grid-3 .lang-tags{
    width: fit-content;
    margin: 0 auto;
}


/* ________________________________Git Commits CLI_________________________________*/
.gitcommit-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 77px;
    grid-gap: 3px;
    background-color: black;
    padding: 4px;
}
.gitcommit-container .grid-1{
    background-color: #edffdc;
}
.gitcommit-container .grid-1 h1{
    margin: 0;
    padding: 0 0 0 10px;
}
.gitcommit-container .grid-2{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.gitcommit-container .grid-2 p{
    margin-left: 10px;
}

.gitcommit-container .grid-2 .lang-tags{
    margin-left: 18px;
} 
.gitcommit-container .grid-2 .link{
    background-color: black;
    width: 100%;
    height: 25px;
    text-align: center;
}
.gitcommit-container .grid-2 .link a{
    text-decoration: none;
    color: white;
}
.gitcommit-container .grid-2 .link a:hover{
    text-decoration: underline;
}

/* ________________________________nicdet app_________________________________*/
.nicdet-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 120px min-content;
    grid-gap: 3px;
    background-color: black;
    padding: 4px;
}
.nicdet-container .grid-1{
    background-color: #eb7f7f;
}
.nicdet-container .grid-1 h1{
    margin: 0;
    padding: 0 0 0 10px;
}

.nicdet-container .grid-2{
    background-color: white;
    padding: 10px;
    font-weight: 300;
}

.nicdet-container .grid-3{
    background-color: #fcfcfcfa;
    text-align: center;
}






.tags-list{
    margin-right: 12px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 8px;
    border: 0.1px solid #26262662;
    padding: 0px 8px;

}
.tags-ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}





#github{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #F9F9F9;
    background-color: #262626;
    border-radius: 4px;
    padding: 2px 10px;
}



.skills-section{
    margin-top: 60px;
}
.skills-section .skill-groups{
    display: flex;
    border-top: 0.5px solid #2626266d;
}
.skills-section .skill-groups .skills-columns{
    flex-direction: row;
    flex: 1 auto;;
}
.skill-groups h3{
    font-size: 14px;
}
.skill-groups ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skill-groups ul li{
    font-weight: 300;
}

.edu-section{
    margin-top: 70px;
    margin-bottom: 200px;
}
.edu-section .edu-text{
    border-top: 0.5px solid #2626266d;
}
.edu-text{
    font-weight: 300;
}
.edu-text h3{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
.edu-text p{
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0px ;
}

.work-section{
    margin-top: 80px;
}
.work-experience-columns{
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid #2626266d;
}
.work-column-1{
    flex: 1.2;
}
.work-column-2{
    flex: 2;
}

.work-experience-columns h3{
    font-size: 25px;
    font-weight: 700;

}
.work-column-1 span{
    font-weight: 300;
}
.work-column-2 p{
    font-weight: 300;
}

.main-section{
    width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}


@media only screen and (min-width: 768px){
    main{
        margin: 0 150px;
    }
}

main{
    margin-top: 40px;
}

main h1{
    font-size: 40px;
    margin-bottom: 8px;
}
#about-me{
    font-size: 25px;
    font-weight: 300;
    width: 80%;
}









@media only screen and (max-width: 700px){

    
    .navigation{
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        margin: 0 15px;
        text-decoration: none;
        color: black;
        background-color: transparent;
        padding: 2px;
        border-radius: 0px;
        font-weight: 300;
        font-size: 17px;
        border: 1px solid transparent;
    }
    .active{
        border-bottom: 2px solid #262626;
        font-weight: 400;
    }
    
    main{
        margin-top:40px;
        text-align: center;
    }

    main h1{
        text-align: center;
        font-size: 30px;
        margin-bottom: 8px;
    }
    #about-me{
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
    }
    #github{
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: #F9F9F9;
        background-color: #262626;
        border-radius: 4px;
        padding: 2px 10px;
    }
    
    
    
    .skills-section{
        margin-top: 60px;
        text-align: center;
    }
    .skills-section .skill-groups{
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid #2626266d;
    }
    .skills-section .skill-groups .skills-columns{
        flex: 1 auto;
    }
    .skill-groups h3{
        font-size: 14px;
    }
    .skill-groups ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .skill-groups ul li{
        font-weight: 300;
    }
    
    .edu-section{
        margin-top: 70px;
        margin-bottom: 200px;
    }
    .edu-section h3{
        text-align: center;
    }
    .edu-section .edu-text{
        border-top: 0.5px solid #2626266d;
    }
    .edu-text{
        font-weight: 300;
    }
    .edu-text h3{
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;

    }
    .edu-text p{
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0px ;
    }
    
    .work-section{
        margin-top: 80px;
    }
    .work-section h3{
        text-align: center;
    }
    .work-experience-columns{
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid #2626266d;
    }
    .work-column-1{
        flex: 1.2;
    }
    .work-column-2{
        flex: 2;
    }
    
    .work-experience-columns h3{
        font-size: 25px;
        font-weight: 700;
    
    }
    .work-column-1 span{
        font-weight: 300;
    }
    .work-column-2 p{
        font-weight: 300;
    }
    

    
    .main-section{
        width:100%;
        margin: 0 auto;
        margin-top: 60px;
    }

   
    
    .header h2{
        position: relative;
        margin: 0;
        display: inline-block;
        top: -5px;
    }
    .header img{
        display: inline-block;
        margin: 0;
        padding: 0;
        
    }


    .slider {
        width: 100%;
        margin:auto;
        overflow: hidden;
        background-color: #1f1f1f;
        color: white;
        box-shadow: 0px 4px 10px #3a3a3aa9;
        border-radius: 1.5px;
    }
    
    



    
    /*______________________ Redim __________________________________ */
    .redim-container{
        display: grid;
        grid-template: 
        'gridOne gridOne' min-content
        'gridThree gridTwo' 220px / min-content 
        ;
        grid-gap: 3px;
        background-color: black;
        padding: 4px;
    }

    .grid-1 h1{
        font-weight: 600;
    }
    .redim-container .grid-2 .lang-tags{
        width: fit-content;
        margin: 0 auto;
    }

   
    .redim-container .grid-3 .img-center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 69%;
    }
    .redim-container .grid-3 img{
        width: 70px;
    }


    /* ________________________________Zero Focus APP_________________________________*/
    .zero-container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        grid-gap: 3px;
        background-color: black;
        padding: 4px;
    }


    .zero-container .grid-2 img{
        width: 350px;
    }
   

    /* ________________________________Git Commits CLI_________________________________*/
    .gitcommit-container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 60px 151px;
        grid-gap: 3px;
        background-color: black;
        padding: 4px;
    }
    

    .gitcommit-container .grid-2 .lang-tags{
    
        width: fit-content;
        margin: 0 auto;
    } 
 
    /* ________________________________nicdet app_________________________________*/
    .nicdet-container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        grid-gap: 3px;
        background-color: black;
        padding: 4px;
    }

    .nicdet-container .grid-2 .lang-tags{
        width: fit-content;
        margin: 0 auto;
    }
    .nicdet-container .grid-3 img{
        width: 350px;
    }



    .nicdet-container .grid-1{
        background-color: #eb7f7f;
    }
    .nicdet-container .grid-1 h1{
        margin: 0;
        padding: 0 0 0 10px;
    }

    .nicdet-container .grid-2{
        background-color: white;
        padding: 10px;
        font-weight: 300;
    }

    .nicdet-container .grid-3{
        background-color: #fcfcfcfa;
        text-align: center;
    }






    .tags-list{
        margin-right: 12px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 8px;
        border: 0.1px solid #26262662;
        padding: 0px 8px;

    }
    .tags-ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin-bottom: 15px;
    }
    

        




}
