body{
    font-family: Manrope,Inter,system-ui,sans-serif;
    background-color: #12372A;
    color: #FBFADA;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main h1{
    font-size: 40px;
    margin-bottom: 8px;
}
#about-me{
    font-size: 25px;
    font-weight: 300;
    width: 80%;
}

.intro-section{
    height: 100vh;
}
.intro{
    position: relative;
    top:20%;
    padding: 10px;
}
.intro h1{
    margin-top: 10px;
}
.profile-img{
    position: relative;
    width: 110px;
    height: 110px;
    border: 3px solid #000000;
    border-radius: 50%;
    margin-right: 50px;
    object-fit: cover;
}

.navigation{
    position: relative;
    top: 20px;
    margin-left: 150px;
    width: fit-content;
}
.nav-link{
    margin-right: 50px;
    text-decoration: none;
    color: #FBFADA;
    padding: 2px 10px;
    border-radius: 0px;
    font-weight: 300;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    background-color: rgba(111, 0, 255, 0.637);
    box-shadow: -4px 4px 0px 0px #000000ce;
    
}
.nav-link:hover{
    background-color: rgba(139, 6, 255, 0.911);
}
.goto-p{
    margin-top: 30px;
}
.social-container{
    margin-top: 40px;
}
.social-container ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    float: inline-end;
}
.social-container li{
    margin-right: 35px;
}
.social-container ul li a img{
    width: 20px;
}

.github{
    margin-right: 10px;
}
.link-header{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #12372A;
    background-color: #FBFADA;
    border-radius: 4px;
    padding: 2px 10px;
    border: 2px solid #1f1f1f;
    box-shadow: -4px 4px 0px 0px #fbfadace;
    transition: ease-in-out 0.3s;
}
.link-header:hover{
   background-color: #000000;
   color: #FBFADA;
   box-shadow: -0px 0px 0px 0px #fbfadace;
   border: 2px solid #FBFADA;
}




.skills-section{
    margin-top: 60px;
}
.skills-section .skill-groups{
    display: flex;
    border-top: 0.5px solid #FBFADA;
}
.skills-section .skill-groups .skills-columns{
    flex-direction: row;
    flex: 1 auto;;
}
.skill-groups h3{
    font-size: 14px;
}
.skill-groups ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skill-groups ul li{
    font-weight: 300;
}

.edu-section{
    margin-top: 70px;
    margin-bottom: 200px;
}
.edu-section .edu-text{
    border-top: 0.5px solid #2626266d;
}
.edu-text{
    font-weight: 300;
}
.edu-text h3{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
.edu-text p{
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0px ;
}

.work-section{
    margin-top: 80px;
    margin-bottom: 150px;
}
.work-experience-columns{
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid #FBFADA;
}
.work-column-1{
    flex: 1.2;
}
.work-column-2{
    flex: 2;
}

.work-experience-columns h3{
    font-size: 25px;
    font-weight: 700;

}
.work-column-1 span{
    font-weight: 300;
}
.work-column-2 p{
    font-weight: 300;
}

.main-section{
    width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}

.projects-flex{
    height: 80vh;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.project-container{
    position: relative;
    height: 200px;
    margin: 15px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: -5px 5px 0px 0px black;

}

.redim{ 
    width: 600px;
    background-color: #0441aa;
}
.nicdet{
    width: 800px;
    background-color: tomato;
    color: black;
}
.cli{
    width: 300px;
    background-color: #d4bf00;
    color: black;
}

.tag-b{
    border-color: #000000;
}


.project-container .github-icon{
    width: 25px;
    position: absolute;
    right: 25px;
}

.project-container .link-icon{
    width: 25px;
    position: absolute;
    right: 75px;
}
.project-container .tools{
    position: absolute;
    bottom: 20px;
}
.project-container .tools ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.project-container .tools ul .tag-b{
    margin-right: 20px;
    margin-bottom: 7px;
    padding: 2px 10px;
    border: 2px solid black;
    border-radius: 4px;
}
.project-container .tools ul li{
    margin-right: 20px;
    margin-bottom: 7px;
    padding: 2px 10px;
    border: 2px solid #FBFADA;
    border-radius: 4px;
}





@media only screen and (min-width: 768px){
    main{
        margin: 0 150px;
    }
}


@media only screen and (max-width: 700px){

    main {
        padding: 10px;
    }

    .intro{
        position: relative;
        top:100px;
        padding: 10px;
        text-align: center;
    }

    .profile-cont{
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .profile-img{
        position: relative;
        margin: 0;
    }

    main h1{
        font-size: 30px;
        text-align: center;
    }

    #about-me{
        font-size: 17px;
        font-weight: 300;
        width: fit-content;
    }
    .about-me{
        text-align: center;
        width: 100%;

    }
    .link-h-container{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .link-header{
        font-size: 12px;
    }

    .social-container{
        margin-top: 40px;
    }
    .social-container ul{
        float: none;
        width: fit-content;
        margin: 0 auto;
    }
    .social-container ul li{
        margin: 20px;
    }
    
    .goto-p{
        margin-top: 80px;

    }
    .goto-p a{
        margin: 0 auto;
    }

    .project-container{
        position: relative;
        height: 300px;
        margin: 15px;
        padding: 10px;
        border: 3px solid black;
        border-radius: 6px;
        box-shadow: -5px 5px 0px 0px black;
    
    }
    
    .redim{ 
        width: 600px;
        background-color: #0441aa;
    }
    .nicdet{
        width: 800px;
        background-color: tomato;
        color: black;
    }
    .cli{
        width: 300px;
        height: 200px;
        background-color: #d4bf00;
        color: black;
    }
    
    .tag-b{
        border-color: #000000;
    }
    
    
    .project-container .github-icon{
        width: 25px;
        position: absolute;
        right: 25px;
    }
    
    .project-container .link-icon{
        width: 25px;
        position: absolute;
        right: 75px;
    }
    .project-container .tools{
        position: absolute;
        bottom: 20px;
    }
    .project-container .tools ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .project-container .tools ul .tag-b{
        margin-right: 20px;
        margin-bottom: 7px;
        padding: 2px 10px;
        border: 2px solid black;
        border-radius: 4px;
    }
    .project-container .tools ul li{
        margin-right: 20px;
        margin-bottom: 7px;
        padding: 2px 10px;
        border: 2px solid #FBFADA;
        border-radius: 4px;
    }


    









}
